body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: url('images/Cortex-Wallpaper.png') no-repeat;
    background-size: cover;
}
p {
    text-indent: 1em;
}

#mainContainer {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow: auto;
}
#headerContainer {
    position: fixed;
    top: 0;
    width: 1000px;
    height: 25px;
    z-index: 1;
    margin-left: -500px;
    left: 50%;
    background: #c9c9c9 url("images/ui-bg_inset-soft_50_c9c9c9_1x100.png") 50% bottom repeat-x;

    border: 1px solid #aaa;
}
#mainContentContainer {
    position: absolute;
    top: 26px;
    bottom: 0;
    width: 1000px;
    margin-left: -500px;
    left: 50%;
}
h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

ul {
    position: relative;
}
ul li {
    position: relative;
}

input[type="number"] {
    width: 40px;
}
#basic_info {
    font-family: 'Nova Square', cursive;
    text-align: left;
}

#basic_info span {
    display: inline-block;
    min-width: 20px;
}
#basic_info h2 {
    color: darkslategray;
    /*poopsicles*/
}
#basic_info .basicField {
	background-color: rgba(200,200,200,0.8);
	padding: 2px 2px 2px 0;
    border-radius: 5px 0 0px 0;
}

#basic_info .editable {
    margin-right: 15px;
    border-bottom: 1px solid #bbb;
}

#attributes {
    font-family: 'Nova Square', cursive;
}
#attributes ul li {
    display: inline-block;
    width: 210px;
    margin-right: 8px;
    margin-top: 5px;
    padding-bottom: 1px;
    position: relative;
}
#stats ul li {
    display: inline-block;
    width: 220px;
    margin-right: 8px;
    margin-top: 5px;
    padding-bottom: 1px;
    position: relative;
}

#attributes .field {
    display: inline-block;
    width: 115px;
    text-align: right;
    background-color: rgba(200,200,200,0.8);
    padding: 2px 2px 2px 0;
    border-radius: 5px 0 0 0;
}
#attributes .editable {
    width: 45px;
    display: inline-block;
    margin-right: 20px;
    border-bottom: 1px solid #bbb;
    padding: 2px 2px 2px 5px;
}
.editable:hover {
    cursor: pointer;
}
.editable:focus {
    outline: none;
    background-color: rgba(200,200,200,0.8);
    box-shadow: rgba(240,240,240,0.8) 0 0 7px;
}

#stats {
    font-family: 'Nova Square', cursive;
}

#stats .field {
    float: left;
    width: 125px;
    text-align: right;
    background-color: rgba(200,200,200,0.8);
    padding: 2px 2px 2px 0;
    border-radius: 5px 0 0 0;
}

#stats .editable {
    max-width: 80px;
    min-width: 40px;
    display: inline-block;
    border-bottom: 1px solid #bbb;
    padding: 2px 2px 2px 5px;
}

#qualities {
    font-family: 'Nova Square', cursive;
}

#qualities p {
    font-style: italic;
}
#active_skills {
    font-family: 'Nova Square', cursive;
}

#contacts ul li, #spells ul li, #qualities ul li {
    width: 450px;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: top;
    position: relative;
}
#active_skills p {
    margin: 1px 0px 1px 10px;
}

#active_skills > ul > li {
    margin-bottom: 2px;
}

#active_skills .editable {
    display: inline-block;
    width: 50px;
    border-bottom: 1px solid #bbb;
}

.skillName {
    display: inline-block;
    width: 150px;
}

#knowledge_skills {
    font-family: 'Nova Square', cursive;
}
#active_skills > div > ul > li, #knowledge_skills ul li, #languages ul li {
    display: inline-block;
    width: 260px;
    vertical-align: top;
    border-left: 2px solid rgba(100,100,100,0.3);
    border-top: 2px solid rgba(100,100,100,0.3);
    border-radius: 10px 3px 3px 3px;
    box-shadow: rgba(100,100,100,0.5) 5px 5px 20px;
    background-color: rgba(200,200,200,0.8);
    margin-bottom: 5px;
    padding-left: 20px;
    margin-right: 20px;
}
#languages {
    vertical-align: top;
    font-family: 'Nova Square', cursive;
}

#contacts {
    font-family: 'Nova Square', cursive;
}
#contacts ul li, #spells ul li, #gear>div>ul>li, #qualities ul li {
    border-left: 2px solid rgba(100,100,100,0.3);
    border-top: 2px solid rgba(100,100,100,0.3);
    border-radius: 10px 3px 3px 3px;
    margin-top: 10px;
    background-color: rgba(200,200,200,0.8);
    box-shadow: rgba(100,100,100,0.5) 5px 5px 20px;
    vertical-align: top;
}

#contacts ul li p, #spells ul li p{
    padding-left: 5px;
    padding-right: 5px;
}

#spells {
    font-family: 'Nova Square', cursive;
}
#gear {
    font-family: 'Nova Square', cursive;
}
#gear div > ul > li:not([id='misc']) {
    display: inline-block;
    width: 450px;
}
#gear div > ul > li {
    margin-left: 12px;
    padding-left: 10px;
}
#gear ul {
    padding-left: 10px;
}

#gear div > ul > li > ul > li {
	background-color: rgba(100,100,100,0.2);
	display: block;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 5px;
}
#gear div > ul > li > ul > li > ul {
	list-style-type: none;
	background-color: rgba(100,100,100,0.2);
	border-radius: 10px;
}

#misc {
    display: block;
    width: 930px;
}

#charmenuheader {
    width: 200px;
    display: inline-block;
}

.header_button {
    margin-left: 20px;
    display: inline-block;
    background-color: rgba(220,220,220,0.8);
    padding: 3px 10px 3px 10px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #aaa;
}

.newButton {
    bottom: -24px;
    right: -10px;
    position: absolute;
    display: block;
    z-index: 3;
    width: 100px;
    height: 20px;
    background-color: #aaaaaa;
    text-align: center;
    padding-top: 7px;
    border-radius: 10px 0 10px 0;
    border: 1px solid #aaa;
}

.newButton:hover {
    cursor: pointer;
    background-color: #bbbbbb;
}
.button_remove, .button_remove2 {
    display: inline-block;
    position: absolute;
    left: -2px;
    top: -2px;
    background-color: rgba(220,220,220,0.8);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px 3px 3px 3px;
    border: 1px solid #aaa;
}
.button_remove:hover, .button_remove2:hover, .button_removeA:hover, .dialog_button:hover, .cat_remove_button:hover, .header_button:hover {
    cursor: pointer;
    background-color: rgba(250,250,250,0.8);
}

.button_removeA {
    display: inline-block;
    position: absolute;
    left: 10px;
    background-color: rgba(220,220,220,0.8);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #aaa;
}
.dialog_button {
    display: inline-block;
    background-color: rgba(220,220,220,0.8);
    padding: 2px 6px 2px 6px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #aaa;
    margin-left: 10px;
}
.cat_remove_button {
    display: inline-block;
    position: absolute;
    left: -2px;
    top: 0;
    width: 10px;
    height: 28px;
    background-color: rgba(220,220,220,0.8);
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #aaa;
}

.sliderDiv {
    position: relative;
    box-sizing: border-box;
    margin-top: 35px;
    border-radius: 0 10px 10px 10px;
    background-color: rgba(190,190,190,0.7);
    box-shadow: rgba(160,160,160,0.7) 2px 3px 5px;
    padding: 10px;
}
.sliderDiv > h3 {
    position: absolute;
    top: -41px;
    left: 0;
    background-color: rgba(210,210,210,0.7);
    padding: 3px 5px 2px 25px;
    border-radius: 10px 0 0 0;
}
.sliderDiv > h3::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 24px solid rgba(210,210,210,0.7);
    border-right: 24px solid transparent;
    position: absolute;
    right: -24px;
    bottom: 0;
}
.sliderDiv > h3::before {
	content: '';
	width:0;
	height:0;
	position: absolute;
	top: 3px;
	left: 10px;
	border-left: 10px solid rgba(50,50,50,0.6);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.sliderDiv > h3:hover {
	cursor: pointer;
}
.sub_field {
    display: inline-block;
    margin-left: 12px;
    margin-top: 3px;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}
ul li h4 {
    margin: 3px 0 5px 20px;
}
.sliderShowing {
	display: block;
}
.sliderHiding {
	display: none;
}
.sliderInside {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
